*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}



html{
    font-family: 'Roboto', sans-serif;
}
/* NavBar */
#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.75rem;
    height: 70px;
}
#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: 0.75rem;

}
#navbar ul li a:hover{
    background: #336ea3;
    border-radius: 4px;

}
/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px sloid grey;


}
#home img{
    width: 25%;
    max-width: 100%;
    height: auto;
    border-radius: 100%;

}
#home .name h2{
    margin-bottom: 0.75rem;
}
#home .name p{
    opacity: 0.6;
    font-style: italic;
}
#traning{
    color: #fff;
    padding: 1rem;

}
#traning .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#traning .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#traning .items .item:hover{
    color: aqua;
    opacity: 0.5;
}
/* VIDEOS */
#videos{
    color: #333;
    padding: 1.5rem;
    letter-spacing: 1px;
}
.videos{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
.videos .video{
    display: flex;
    padding: 1.2rem;
    margin-bottom: 0.5rem; 
}

.videos .video .coursevideo{
    margin-right: 0.5rem;
    position: relative;


}
.videos .video .coursevideo span{
    background: aqua;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 154px;
    left: 0;
}
.videos .video .videodescription{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;

}

#contact{
    color: #fff;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a{
    padding: 0.6rem;
    font-size: 1.5rem;
}
#contact .contact-form ul li  a:hover{
    opacity: 0.8;
    
    
}
























